body { 
	color:black; 
	background-color: #ADD8E6;
}

h1{
	font-size: 14px;
	color: black;
	background-color: #ADD8E6;}
a {
	font-size: 12px;
	color: red;
	background-color: yellow;
	}
p {
	font-family:"Times New Roman", Times, serif;
	}

ul { 
	font-family:"Times New Roman", Times, sanserif;}